<div class="page-header" data-parallax="true" style="background-image: url(./images/bck/mb-bg-fb-02.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Encuentra las mejores gemas</h1>
                <h4>En flatlanders store tenemos aquella gema que necesitas para crear energia o darle darle a tu
                    querida</h4>
                <br>
                <a href="https://www.youtube.com/watch?v=7Hk5A_TrLKg" target="_blank"
                    class="btn btn-info btn-raised btn-lg">
                    <i class="fa fa-play"></i> Mira nuestro video</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card card-raised card-carousel">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0"></li>
                    <li data-target="#carousel" data-slide-to="1" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active carousel-item-left">
                        <img src="./images/bck/banner1.png" alt="First slide" class="d-block w100">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>
                                <i class="material-icons">loyalty</i>
                                Promocion 1
                            </h4>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-next carousel-item-left">
                        <img src="./images/bck/banner2.png" alt="First slide" class="d-block w100">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>
                                <i class="material-icons">loyalty</i>
                                Promocion 2
                            </h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                    <span class="sr-only">Preview</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h1 class="title">Los mas vendidos</h1>
                    <h5 class="description">A continuacion te mostraremos las gemas favoritas de nuestros compradores
                    </h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <img src="./images/pdct/amatista.png" alt=""
                                class="img-raised rounded-circle img-fluid">
                            <h1 class="info-title">Amatista</h1>
                            <p>Si te gusta meditar esta gema es para ti, es un excelente complemento para 
                                la meditacion, ayuda a combatir el estres, a conciliar el sueño y crea un ambiente de calma.
                            </p>
                            <a href="#" target="_blank" class="btn btn-info btn-md">
                                <h4>
                                    <i class="material-icons">shopping_cart</i>
                                    Comprar
                                </h4></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="./images/pdct/jade.png" alt=""
                                class="img-raised rounded-circle img-fluid">
                            <h1 class="info-title">Jade</h1>
                            <p>Esta hermosa gema de color verde es muy utilizada para el fortalecimiento de los vinculos amorosos, 
                                asi como su uso como amuleto de la suerte, ademas de traer sabiduria y paz interior.
                            </p>
                            <a href="#" target="_blank" class="btn btn-info btn-md">
                                <h4>
                                    <i class="material-icons">shopping_cart</i>
                                    Comprar
                                </h4></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="./images/pdct/diamante.png" alt=""
                                class="img-raised rounded-circle img-fluid">
                            <h1 class="info-title">Diamante</h1>
                            <p>Considerada la gema mas preciosa debido a su brillo, es mayormente utilizada como pieza decorativa en joyeria. 
                                Simboliza la busqueda de la perfeccion, la volunta, el triunfo y la firmeza.
                            </p>
                            <a href="#" target="_blank" class="btn btn-info btn-md">
                                <h4>
                                    <i class="material-icons">shopping_cart</i>
                                    Comprar
                                </h4></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <img src="./images/pdct/topacio.png" alt=""
                                class="img-raised rounded-circle img-fluid">
                            <h1 class="info-title">Topacio</h1>
                            <p>Esta piedra de color amarillo como el trueno, es delicada y empatica dirige la energia a 
                                donde mas se necesite, fomenta la verdad y el perdon ademas de otorgar confianza
                            </p>
                            <a href="#" target="_blank" class="btn btn-info btn-md">
                                <h4>
                                    <i class="material-icons">shopping_cart</i>
                                    Comprar
                                </h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h1 class="title">Los mas vendidos</h1>
                    <h5 class="description">A continuacion te mostraremos las gemas favoritas de nuestros compradores
                    </h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-6 card bmd-card-raised">
                        <div class="info">
                            
                            <h1 class="info-title">Gemas espirituales</h1>
                            <img src="./images/pdct/c5989809e0bb7b8c780aa6c4d85c5653-icono-de-pose-de-meditaci--n-budista-by-vexels.png" style="width:75%;" class="img-fluid">
                            <a href="#" target="_blank" class="btn btn-success btn-md">
                                <h4>
                                    <i class="material-icons">shopping_cart</i>
                                    Explorar
                                </h4></a>
                        </div>
                    </div>
                    <div class="col-md-6 card bmd-card-raised">
                        <div class="info">
                            
                            <h1 class="info-title">Gemas decorativas</h1>
                                <img src="./images/pdct/b8d347de3071f471948043a7c8826614-collar-de-cuentas-con---cono-colgante-by-vexels.png" style="width:75%;" class="img-fluid">
                            <a href="#" target="_blank" class="btn btn-warning btn-md">
                                <h4>
                                    <i class="material-icons">shopping_cart</i>
                                    Explorar
                                </h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Hablemos de nuestro producto</h1>
                    <h5 class="description">Somos una familia que se dedica a ir a la mina a sacar las mejores gemas
                        del mercado
                        con el fin de que tu tengas el mejor precio y la mejor calidad
                    </h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-rose">
                                <i class="material-icons">chat</i>
                            </div>
                            <h1 class="info-title">Platica con nosotros</h1>
                            <p>
                                Si tienes alguna duda sobre nuestros productos o algun problma con tu entrega o el
                                producto ya
                                entregado platica con nosotros en nuestro chat para darte el mejor servicio al
                                cliente que haya
                                existido</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h1 class="info-title">Compras verificadas</h1>
                            <p>
                                Tenemos la mejor entrega del mercado contamos con usuarios que nos han dado los
                                mejores comentarios de los productos,
                                animate a coomprar tu gema</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">weekend</i>
                            </div>
                            <h1 class="info-title">Entregas comprobadas</h1>
                            <p>
                                Estamos seguros de que cuando pidas tu producto llegara en las mejores condiciones y
                                de la mejor manera hasta tu sillon favorito</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section text-center">
    <h2 class="title">Este es nuestro equipo</h2>
    <div class="team">
        <div class="row">
            <di class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="./images/profile/father.png" alt=""
                                class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Flatlanders Father
                            <br>
                            <small class="card-descriprion text-muted">Fuerza bruta</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">
                                Soy el encargado de la familia, mi trabajo consiste en ir a la mina a obtener cada
                                una de las geams, siempre logro impresionarme a mi mismo con las gemas que logro
                                obtener.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#father" class="btn btn-link btn-just-icon"><i
                                    class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </di>
            <di class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="./images/profile/kid.png" alt="" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Flatlanders Son
                            <br>
                            <small class="card-descriprion text-muted">Gerente de la tienda</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">
                                Yo estoy a cargo de ordenar la tienda, abrir y cerrarla, asi como atender a los
                                clientes cuando nos visitan en tienda, espero pueda ayudarles en algo, no duden en
                                preguntarme.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#son" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#son" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#son" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </di>
            <di class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="./images/profile/mom-baby.png" alt=""
                                class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">Flatlanders Mom
                            <br>
                            <small class="card-descriprion text-muted">Diseñadora y gerente de tienda</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">
                                Yo me encargo de los diseños de la tienda, siempre pongo todo mi amor y el empeño en
                                crear arte que permita que el usuario se decide que producto comprar.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#father" class="btn btn-link btn-just-icon"><i
                                    class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </di>
        </div>
    </div>
</div>

<div class="secton section-contacts">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">¿Tienes alguna duda?</h2>
            <h4 class="text-center description">Cualquier duda de nuestro producto sientete libre de enviarnos un
                mensaje para estar en contacto y saber tu viaje por nuestra tienda</h4>
            <form action="" class="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Tu nombre</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Tu correo electronico</label>
                            <input type="email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label form="message" class="bmd-label-floating">Danos amor en tu mensaje</label>
                    <textarea class="form-control" name="" id="message" rows="4"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <button class="btn btn-rose btn-raised">
                            <i class="material-icons">
                                favorite
                            </i>
                            Envianos amor
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>